body {
    background: #faf5f5;
    font-family: "Montserrat", sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20 px rgba(0, 0, 0, 1);
}
.maino {
    margin: 20px 20px 20px 20px;
}
.main-description {
    background: rgba(255, 255, 255, 0.323);
    padding: 20px;
}

li {
    color: rgb(30, 35, 24);
}

h2 {
    color: rgba(105, 59, 151, 0.614);
}

.description {
    color: rgb(0, 0, 0);
    margin: 0px 0px -20px 0px;
}

.asido {
    background: rgba(211, 216, 239, 0.744);
    margin: 0px 20px 0px 0px;
    padding: 0px 20px 2px 20px;
}

.round {
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
}

.soft {
    color: rgb(247, 127, 127);
}

.borderElement {
    background-color: #1d738e;
}
.periods {
    display: flex;
    flex-direction: row-reverse;
    margin: -20px 0px 10px 0px;
}
.osobowe {
    margin: -30px 0px -20px 0px;
}
.left {
    margin: 0px 0px 0px 20px;
}
.contact {
    color: red;
}
